{% extends 'base/base1.html' %}
{% load placeholders %}
{% load static %}
{% block page_content %}
    {% include 'base/discounts.html' %}
    </div>
    </div>
    <div id="content">
        <div id="services">
            <div class="aside">
                <h1>Wellcome to {{ object.username }} edit page</h1>
                <form action="{% url 'edit profile' pk=object.pk %}" method="POST">
                    {{ form }}
                    <input type="submit" value="EDIT" class="submitbtn">
                    {% csrf_token %}
            </div>
            <div class="section">
                <h1>Delete your profile here <a href="{% url 'delete profile' pk=object.pk %}"><button>Delete profile</button></a></h1>
            </div>
        </div>
    </div>
{% endblock %}
