{% extends 'base/base1.html' %}
{% load placeholders %}
{% load static %}
{% block page_content %}

    {% include 'base/discounts.html' %}
  </div>
</div>
<div id="content">
  <div>
    <div id="account">
      <div>
        <form action="{% url 'login user' %}" method="POST">
          <span>SIGN-IN</span>
            {{ form }}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Sign-In" class="submitbtn">
            {% csrf_token %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}