{% extends 'base/base1.html' %}
{% load placeholders %}
{% load static %}
{% block page_content %}

    {% include 'base/discounts.html' %}
  </div>
</div>
    <div id="content">
        <div>
            <div id="account">
                <div>
                    <form action="{% url 'register user' %}" method="POST">
                        <span>REGISTRATION</span>
                        {{ form.username|placeholder:"Username: " }}
                        {{ form.email|placeholder:"Email: " }}
                        {{ form.password1|placeholder:"Password: " }}
                        {{ form.password2|placeholder:"Repeat yor password: " }}
                        <input type="submit" value="Register" class="submitbtn">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}